<!DOCTYPE html>
<html lang="en">
<head>
    <link href="/css/style.css" rel="stylesheet" type="text/css" /> 
</head>

<script src="/socket.io/socket.io.js"></script>


<body class="container">

<header>

</header>

<main>
    <div id="chat">
        <div id = "window-chat">
            <div id="output">

            </div>
        </div>
        <input id="name" type = "text" placeholder = "name" />  
        <input id="message" type = "text" placeholder = "Type a message" /> 
        <button id="send">Send</button>   
    </div>
</main>

<footer>
</footer>

</body>

<script src="/js/script.js"/></script>
</html>