<!DOCTYPE html>
<html lang="en">
<head>
    <link href="/css/tictactoestyle.css" rel="stylesheet" type="text/css" /> 
    <link href="/css/style.css" rel="stylesheet" type="text/css" /> 
</head>

<script src="/socket.io/socket.io.js"></script>


<body class="container">

<header>

</header>

<main>
    <div id="namediv">
        <input id = "name" type = "text" placeholder = "name">
        <p id = "namepar"></p>
    </div>
    <div id = "symbol"></div>
    <div id = "board">

    </div>
    <div id = "join">
        
    </div>
    <div id="waiting" class="hidden">Waiting for Opponent...</div>
    <div id="playing-info"></div>
    <div id="reset" class="hidden">
        <button id="reset-btn">Reset</button>
    </div>

    <div id="chat">
        <div id = "window-chat">
            <div id="output">

            </div>
        </div>
        <input id="message" type = "text" placeholder = "Type a message" /> 
        <button id="send">Send</button>   
    </div>
</main>

<footer>
</footer>

</body>

<script src="/js/tictactoescript.js"/></script>
</html>